<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sharknado.gestfish_hfc2018">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Home"
            android:theme="@style/AppNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ComercializacaoActivity" android:label="Comercialização" />
        <activity android:name=".FichaComercializacaoActivity" android:label="Ficha de Venda" />
        <activity
            android:name=".Tanques"
            android:label="@string/title_activity_tanques"
            android:theme="@style/AppNoActionBar" />
        <activity android:name=".Biometria" />
        <activity
            android:name=".Cadastro"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".AddTanque"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CadastrarBiometria" />
        <activity android:name=".TutorialActivity" android:label="Tutoriais e novas Tec." />
        <activity android:name=".IntesivoTutorialActivity"  android:label="Intensivo" />
        <activity android:name=".semi_IntensivoTutorial" android:label="Semi-Intensivo"></activity>
    </application>

</manifest>